@charset "UTF-8";

.text-main-header {
  color: #eb9233 !important;
}

.btn-mr-05rem{
	margin: 0.5rem;
}

.text-footer-sz{
	font-size: 0.5rem;
	padding : 1rem 1.5rem;
}

.down_app {
	width: 12rem;
    margin: 0.2rem;
}

.faq_title{
  margin: 0.5rem 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.main-potato-img-bx img{
		width : 300px;
	}